{{>header}}
<div class="heroSection">
  <div id="news">
    News Section
  </div>
  <div id="features">
    Features Section
  </div>
  <div class="" id="login">
    <a class="card1" href="/phila_login">PhiloLogin</a>
    <a class="card1" href="/ngo_login">NgoLogin</a>
  </div>
</div>
{{>footer}}