{{>header}}
  <link rel="stylesheet" href="css/register.css">
  <div class="container">
    <div class="title">NGO Registration</div>
    <div class="content">
      <form action="#">
        <div class="user-details">
          <div class="input-box">
            <span class="details">Organization Name</span>
            <input type="text" placeholder="Enter your Organization name" required>
          </div>
          {{!-- <div class="input-box">
            <span class="details">Organization Name</span>
            <input type="text" placeholder="Enter your last name" required>
          </div> --}}
          <div class="input-box">
            <span class="details">Organization Email</span>
            <input type="text" placeholder="Enter your email" required>
          </div>
          <div class="input-box">
            <span class="details">Contaxt Number</span>
            <input type="text" placeholder="Enter your number" required>
          </div>
          <div class="input-box">
            <span class="details">Password</span>
            <input type="text" placeholder="Enter your password" required>
          </div>
          <div class="input-box">
            <span class="details">Confirm Password</span>
            <input type="text" placeholder="Confirm your password" required>
          </div>
          <div class="input-box">
            <span class="details">Organization Sector</span>
            <input type="text" placeholder="Sector" required>
          </div>
        </div>
          <div class="input-box">
            <span class="details">Organization Description</span>
            <textarea type="text" placeholder="Enter organization Description" class="address-area"></textarea>
          </div>

        {{!-- <div class="input-box">
          <span class="details">Areas of interest</span><br>
          <select name="" id="">
            <option value="Agriculaure">Agriculure</option>
            <option value="Healthcare">Healthcare</option>
          </select>
        </div> --}}
        
        <div class="button">
          <input type="submit" value="Register">
        </div>
      </form>

      <div class="linking">
        <a href="/ngo_login"><h4>Already have an account?</h4></a>
      </div>
    </div>
  </div>
{{>footer}}