{{>header}}
  <h1>NGO Login</h1>
  <a href="/ngo_reg">Register an NGO</a>
  <form action="/ngo_login" method="POST">
    <input type="text" placeholder="Email" name="email">
    <label for="email">Email</label>
    <input type="password" placeholder="Password" name="password">
    <label for="password">Password</label>
    <input type="submit" value="ngo_login">
  </form>
{{>footer}}