{{>header}}
  <h1>New Philanthropist</h1>
  <a href="/phila_reg">Register as a new philanthropist</a>
    <form action="/phila_login" method="POST">
      <input type="text" placeholder="Email" name="email">
      <label for="email">Email</label>
      <input type="password" placeholder="Password" name="password">
      <label for="password">Password</label>
      <input type="submit" value="phila_login">
  </form>
{{>footer}}